#chartbid > #linemaxbid {
  stroke: blue;
  stroke-width: 50px;
  fill: none;
}
#chartbid > .point {
  fill: violet;
  stroke: none;
}

#chartask > #lineminask {
  stroke: red;
  stroke-width: 50px;
  fill: none;
}
#chartask > .point {
  fill: green;
  stroke: none;
}

#app {
  width: 100%;
}
#app svg {
  overflow-x: scroll;
}
